In [1]:
import pandas as pd

In [2]:
words = pd.read_csv('eng_words.csv')
words

,Unnamed: 0,names,center,university,scientific/science,educational/education,program
0,0,enrollee,"['Hub', 'Community', 'Core', 'Focus', 'Innovat...","['Campus', 'Academia', 'Students', 'Professors...","['Research', 'Experimentation', 'Innovation', ...","['Learning', 'Knowledge', 'Schools', 'Teaching...","['Code', 'Software', 'Curriculum', 'Project', ..."
1,1,graduate,"['Hub', 'Innovation', 'Research', 'Development...","['Academia', 'Degrees', 'Research', 'Scholarsh...","['Research', 'Experiments', 'Innovation', 'Dat...","['Learning', 'Online', 'Curriculum', 'Pedagogy...","['Software', 'Code', 'Algorithm', 'Development..."
2,2,parent,"['Hub', 'Community', 'Focus', 'Gathering', 'Ma...","['Campus', 'Students', 'Academia', 'Degree', '...","['Research', 'Experiment', 'Discovery', 'Innov...","['Learning', 'School', 'Knowledge', 'Skills', ...","['Software', 'Application', 'Course', 'Plan', ..."
3,3,post-doc,"['Hub', 'Core', 'Focus', 'Nexus', 'Heart', 'Ba...","['Campus', 'Academic', 'Students', 'Research',...","['Research', 'Experiment', 'Theory', 'Discover...","['Learning', 'Schooling', 'Teaching', 'Curricu...","['Software', 'Plan', 'Course', 'Scheme', 'Curr..."

In [89]:
print(words['университет'][0])
print(words['университет'][1])
print(words['университет'][2])

['знания', 'студенты', 'профессора', 'кампус', 'исследования', 'диплом', 'лекции', 'библиотека', 'академия', 'традиции']
['Знания', 'Студенты', 'Профессора', 'Диплом', 'Лекции', 'Исследования', 'Кампус', 'Сессия', 'Библиотека', 'Специальность']
['Выбор', 'Будущее', 'Престиж', 'Карьера', 'Знания', 'Диплом', 'Специальность', 'Развитие', 'Студенты', 'Преподаватели']

In [3]:
embed = pd.DataFrame()

In [4]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [5]:
import re

for i in range(2, 7):
    row = []
    for j in range(4):
        temp = model.encode(re.sub(r'[^\w\s]', '', words[words.columns[i]][j]))
        row.append(temp)
    embed[words.columns[i]] = row
embed

,center,university,scientific/science,educational/education,program
0,"[0.0031559642, -0.020544048, -0.010609146, -0....","[0.027243704, -5.301478e-05, -0.024405371, -0....","[0.052296538, -0.04048604, -0.03599119, -0.006...","[0.008994918, -0.0717138, -0.0040769423, 0.000...","[0.029875264, -0.0323109, -0.06762068, 0.03237..."
1,"[0.016089449, -0.04790259, -0.03807322, -0.014...","[0.03551382, 0.016262585, -0.007077178, -0.037...","[0.022978617, 0.011060827, -0.045908663, -0.03...","[0.01666075, -0.10157005, -0.035543445, -0.017...","[0.0092356345, 0.011572913, -0.06020524, 0.018..."
2,"[-0.016728597, -0.04486442, -0.010166221, -0.0...","[0.03472203, 0.0013572404, -0.0067671533, -0.0...","[0.016324759, -0.029933864, -0.008964857, 0.00...","[0.054447882, -0.0943205, 0.0028831074, 0.0196...","[0.006307053, -0.027852071, -0.04219209, 0.001..."
3,"[0.0063601024, -0.072998144, -0.016587636, 0.0...","[0.03396246, 0.0016059829, -0.008759865, -0.02...","[0.01747157, 0.0027611533, -0.025670787, 0.023...","[0.06924623, -0.05135249, -0.0024207248, -0.01...","[0.0079010865, 0.0047931457, -0.05743265, 0.01..."

In [6]:
import numpy as np
from numpy import dot
from numpy.linalg import norm
from scipy import spatial

person_id = []
person_name = []
assoc = []
term1 = []
term2 = []
cos = []
pers_id2 = []
pers_name2 = []

n = ['enrollee', 'graduate', 'parent','post-doc']

w = ['center', 'university', 'scientific/science', 'educational/education', 'program']

for i in range(5):
    row = []
    for j in range(4):
        for k in range(j, 4):
            if k != j:
                _ = 1 - spatial.distance.cosine(embed[w[i]][j], embed[w[i]][k])
                person_id.append(j)
                person_name.append(n[j])
                assoc.append(w[i])
                cos.append(_)
                pers_id2.append(k)
                pers_name2.append(n[k])

In [7]:
pers_age1 = []
pers_gen1 = []
pers_age2 = []
pers_gen2 = []
edu = []
edu2 = []

for i in range(len(person_id)):
    if person_id[i] == 0:
        pers_age1.append(18)
        pers_gen1.append('female')
        edu.append(1)
    if person_id[i] == 1:
        pers_age1.append(25)
        pers_gen1.append('male')
        edu.append(2)
    if person_id[i] == 2:
        pers_age1.append(40)
        pers_gen1.append('female')
        edu.append(2)
    if person_id[i] == 3:
        pers_age1.append(34)
        pers_gen1.append('male')
        edu.append(3)
    if pers_id2[i] == 0:
        pers_age2.append(18)
        pers_gen2.append('female')
        edu2.append(1)
    if pers_id2[i] == 1:
        pers_age2.append(25)
        pers_gen2.append('male')
        edu2.append(2)
    if pers_id2[i] == 2:
        pers_age2.append(40)
        pers_gen2.append('female')
        edu2.append(2)
    if pers_id2[i] == 3:
        pers_age2.append(34)
        pers_gen2.append('male')
        edu2.append(3)

In [8]:
df = pd.DataFrame()
df['Person_ID'] = person_id
df['Person_name'] = person_name
df['Person_age'] = pers_age1
df['Person_gender'] = pers_gen1
df['Person_ducation_level_ID'] = edu
df['Assoc_stimulus'] = assoc
df['cos'] = cos
df['Person_term_ID'] = pers_id2
df['Person_term_name'] = pers_name2
df['Person_term_age'] = pers_age2
df['Person_term_gender'] = pers_gen2
df['Person_term_ducation_level_ID'] = edu2
df

,Person_ID,Person_name,Person_age,Person_gender,Person_ducation_level_ID,Assoc_stimulus,cos,Person_term_ID,Person_term_name,Person_term_age,Person_term_gender,Person_term_ducation_level_ID
0,0,enrollee,18,female,1,center,0.874380,1,graduate,25,male,2
1,0,enrollee,18,female,1,center,0.589746,2,parent,40,female,2
2,0,enrollee,18,female,1,center,0.488339,3,post-doc,34,male,3
3,1,graduate,25,male,2,center,0.525579,2,parent,40,female,2
4,1,graduate,25,male,2,center,0.431172,3,post-doc,34,male,3
5,2,parent,40,female,2,center,0.801845,3,post-doc,34,male,3
6,0,enrollee,18,female,1,university,0.771106,1,graduate,25,male,2
7,0,enrollee,18,female,1,university,0.835107,2,parent,40,female,2
8,0,enrollee,18,female,1,university,0.844276,3,post-doc,34,male,3
9,1,graduate,25,male,2,university,0.824114,2,parent,40,female,2
10,1,graduate,25,male,2,university,0.825474,3,post-doc,34,male,3
11,2,parent,40,female,2,university,0.862230,3,post-doc,34,male,3
12,0,enrollee,18,female,1,scientific/science,0.558513,1,graduate,25,male,2
13,0,enrollee,18,female,1,scientific/science,0.776146,2,parent,40,female,2
14,0,enrollee,18,female,1,scientific/science,0.778409,3,post-doc,34,male,3
15,1,graduate,25,male,2,scientific/science,0.449553,2,parent,40,female,2
16,1,graduate,25,male,2,scientific/science,0.472886,3,post-doc,34,male,3
17,2,parent,40,female,2,scientific/science,0.814284,3,post-doc,34,male,3
18,0,enrollee,18,female,1,educational/education,0.553899,1,graduate,25,male,2
19,0,enrollee,18,female,1,educational/education,0.683118,2,parent,40,female,2
20,0,enrollee,18,female,1,educational/education,0.649843,3,post-doc,34,male,3
21,1,graduate,25,male,2,educational/education,0.644957,2,parent,40,female,2
22,1,graduate,25,male,2,educational/education,0.607447,3,post-doc,34,male,3
23,2,parent,40,female,2,educational/education,0.707813,3,post-doc,34,male,3
24,0,enrollee,18,female,1,program,0.900142,1,graduate,25,male,2
25,0,enrollee,18,female,1,program,0.738134,2,parent,40,female,2
26,0,enrollee,18,female,1,program,0.768681,3,post-doc,34,male,3
27,1,graduate,25,male,2,program,0.696992,2,parent,40,female,2
28,1,graduate,25,male,2,program,0.703598,3,post-doc,34,male,3
29,2,parent,40,female,2,program,0.843331,3,post-doc,34,male,3

In [9]:
df.to_csv('compare_in_terms.csv')

In [10]:
import numpy as np
from numpy import dot
from numpy.linalg import norm
from scipy import spatial

person_id = []
person_name = []
assoc = []
term1 = []
term2 = []
cos = []
pers_id2 = []
pers_name2 = []

n = ['enrollee', 'graduate', 'parent','post-doc']

w = ['center', 'university', 'scientific/science', 'educational/education', 'program']

for i in range(4):
    row = []
    for j in range(5):
        for k in range(j, 5):
            if k != j:
                _ = 1 - spatial.distance.cosine(embed[w[j]][i], embed[w[k]][i])
                person_id.append(j)
                person_name.append(n[i])
                assoc.append(w[j])
                cos.append(_)
                term2.append(w[k])

In [11]:
pers_age1 = []
pers_gen1 = []
pers_age2 = []
pers_gen2 = []
edu = []
edu2 = []

for i in range(len(person_id)):
    if person_id[i] == 0:
        pers_age1.append(18)
        pers_gen1.append('female')
        edu.append(1)
    if person_id[i] == 1:
        pers_age1.append(25)
        pers_gen1.append('male')
        edu.append(2)
    if person_id[i] == 2:
        pers_age1.append(40)
        pers_gen1.append('female')
        edu.append(2)
    if person_id[i] == 3:
        pers_age1.append(34)
        pers_gen1.append('male')
        edu.append(3)

In [12]:
df = pd.DataFrame()
df['Person_ID'] = person_id
df['Person_name'] = person_name
df['Person_age'] = pers_age1
df['Person_gender'] = pers_gen1
df['Person_ducation_level_ID'] = edu
df['Assoc_stimulus'] = assoc
df['Term2'] = term2
df['cos'] = cos
df

,Person_ID,Person_name,Person_age,Person_gender,Person_ducation_level_ID,Assoc_stimulus,Term2,cos
0,0,enrollee,18,female,1,center,university,0.419514
1,0,enrollee,18,female,1,center,scientific/science,0.410958
2,0,enrollee,18,female,1,center,educational/education,0.396853
3,0,enrollee,18,female,1,center,program,0.247559
4,1,enrollee,25,male,2,university,scientific/science,0.332747
5,1,enrollee,25,male,2,university,educational/education,0.324861
6,1,enrollee,25,male,2,university,program,0.203927
7,2,enrollee,40,female,2,scientific/science,educational/education,0.146051
8,2,enrollee,40,female,2,scientific/science,program,0.195098
9,3,enrollee,34,male,3,educational/education,program,0.359044
10,0,graduate,18,female,1,center,university,0.278179
11,0,graduate,18,female,1,center,scientific/science,0.504923
12,0,graduate,18,female,1,center,educational/education,0.276953
13,0,graduate,18,female,1,center,program,0.239870
14,1,graduate,25,male,2,university,scientific/science,0.275902
15,1,graduate,25,male,2,university,educational/education,0.199822
16,1,graduate,25,male,2,university,program,0.058990
17,2,graduate,40,female,2,scientific/science,educational/education,0.171605
18,2,graduate,40,female,2,scientific/science,program,0.248613
19,3,graduate,34,male,3,educational/education,program,0.316850
20,0,parent,18,female,1,center,university,0.173221
21,0,parent,18,female,1,center,scientific/science,0.208748
22,0,parent,18,female,1,center,educational/education,0.133814
23,0,parent,18,female,1,center,program,0.218827
24,1,parent,25,male,2,university,scientific/science,0.167166
25,1,parent,25,male,2,university,educational/education,0.160790
26,1,parent,25,male,2,university,program,0.282112
27,2,parent,40,female,2,scientific/science,educational/education,0.147738
28,2,parent,40,female,2,scientific/science,program,0.143035
29,3,parent,34,male,3,educational/education,program,0.348699
30,0,post-doc,18,female,1,center,university,0.240023
31,0,post-doc,18,female,1,center,scientific/science,0.117457
32,0,post-doc,18,female,1,center,educational/education,0.155641
33,0,post-doc,18,female,1,center,program,0.205744
34,1,post-doc,25,male,2,university,scientific/science,0.178653
35,1,post-doc,25,male,2,university,educational/education,0.411909
36,1,post-doc,25,male,2,university,program,0.190386
37,2,post-doc,40,female,2,scientific/science,educational/education,0.243540
38,2,post-doc,40,female,2,scientific/science,program,0.132188
39,3,post-doc,34,male,3,educational/education,program,0.242685

In [13]:
df.to_csv('compare_in_pers.csv')

In [14]:
embed

,center,university,scientific/science,educational/education,program
0,"[0.0031559642, -0.020544048, -0.010609146, -0....","[0.027243704, -5.301478e-05, -0.024405371, -0....","[0.052296538, -0.04048604, -0.03599119, -0.006...","[0.008994918, -0.0717138, -0.0040769423, 0.000...","[0.029875264, -0.0323109, -0.06762068, 0.03237..."
1,"[0.016089449, -0.04790259, -0.03807322, -0.014...","[0.03551382, 0.016262585, -0.007077178, -0.037...","[0.022978617, 0.011060827, -0.045908663, -0.03...","[0.01666075, -0.10157005, -0.035543445, -0.017...","[0.0092356345, 0.011572913, -0.06020524, 0.018..."
2,"[-0.016728597, -0.04486442, -0.010166221, -0.0...","[0.03472203, 0.0013572404, -0.0067671533, -0.0...","[0.016324759, -0.029933864, -0.008964857, 0.00...","[0.054447882, -0.0943205, 0.0028831074, 0.0196...","[0.006307053, -0.027852071, -0.04219209, 0.001..."
3,"[0.0063601024, -0.072998144, -0.016587636, 0.0...","[0.03396246, 0.0016059829, -0.008759865, -0.02...","[0.01747157, 0.0027611533, -0.025670787, 0.023...","[0.06924623, -0.05135249, -0.0024207248, -0.01...","[0.0079010865, 0.0047931457, -0.05743265, 0.01..."

In [125]:
words = pd.read_csv('words.csv')
words

,Unnamed: 0,names,образовательный/образование,университет,программа,центр,научный/наука
0,0,абитуриентка,"['учеба', 'квалификация', 'педагог', 'развитие...","['знания', 'студенты', 'профессора', 'кампус',...","['обучение', 'курс', 'сертификат', 'развитие',...","['координация', 'инновации', 'ресурсы', 'разви...","['исследование', 'эксперимент', 'открытие', 'т..."
1,1,магистрант,"['Учеба', 'Курсы', 'Сертификат', 'Преподавател...","['Знания', 'Студенты', 'Профессора', 'Диплом',...","['Код', 'Разработка', 'Алгоритмы', 'Приложение...","['Город', 'Собрание', 'Офис', 'Инновации', 'Ко...","['Исследование', 'Эксперимент', 'Теория', 'Пуб..."
2,2,родитель,"['Учеба', 'Развитие', 'Квалификация', 'Компете...","['Выбор', 'Будущее', 'Престиж', 'Карьера', 'Зн...","['Специализация', 'Курсы', 'Обучение', 'Практи...","['Исследования', 'Ресурсы', 'Современность', '...","['Исследование', 'Разработки', 'Публикации', '..."
3,3,сотрудник,"['курсы', 'лекции', 'развитие', 'дистанционно'...","['преподавание', 'исследования', 'студенты', '...","['разработка', 'компьютеры', 'алгоритмы', 'тех...","['инновационный', 'исследовательский', 'развит...","['исследование', 'публикации', 'эксперименты',..."

In [147]:
!pip3 install tensorflow

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

Collecting tensorflow
  Downloading tensorflow-2.16.1-cp312-cp312-macosx_12_0_arm64.whl.metadata (4.1 kB)
Collecting absl-py>=1.0.0 (from tensorflow)
  Using cached absl_py-2.1.0-py3-none-any.whl.metadata (2.3 kB)
Collecting astunparse>=1.6.0 (from tensorflow)
  Using cached astunparse-1.6.3-py2.py3-none-any.whl.metadata (4.4 kB)
Collecting flatbuffers>=23.5.26 (from tensorflow)
  Downloading flatbuffers-24.3.7-py2.py3-none-any.whl.metadata (849 bytes)
Collecting gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 (from tensorflow)
  Using cached gast-0.5.4-py3-none-any.whl.metadata (1.3 kB)
Collecting google-pasta>=0.1.1 (from tensorflow)
  Using cached google_pasta-0.2.0-py3-none-any.whl.metadata (814 bytes)
Collecting h5py>=3.10.0 (from tensorflow)
  Using cached h5py-3.10.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (2.5 kB)
Collecting libclang>=13.0.0 (from tensorflow)
  Downloading libclang-18.1.1-py2.py3-none-macosx_11_0_arm64.whl.metadata (5.2 kB)
Collecting ml-dtypes~=0.3.1 (from tensorflow)
  Using cached ml_dtypes-0.3.2-cp312-cp312-macosx_10_9_universal2.whl.metadata (20 kB)
Collecting opt-einsum>=2.3.2 (from tensorflow)
  Using cached opt_einsum-3.3.0-py3-none-any.whl.metadata (6.5 kB)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from tensorflow) (23.2)
Collecting protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 (from tensorflow)
  Using cached protobuf-4.25.3-cp37-abi3-macosx_10_9_universal2.whl.metadata (541 bytes)
Requirement already satisfied: requests<3,>=2.21.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from tensorflow) (2.31.0)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from tensorflow) (69.2.0)
Requirement already satisfied: six>=1.12.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from tensorflow) (1.16.0)
Collecting termcolor>=1.1.0 (from tensorflow)
  Using cached termcolor-2.4.0-py3-none-any.whl.metadata (6.1 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from tensorflow) (4.10.0)
Collecting wrapt>=1.11.0 (from tensorflow)
  Using cached wrapt-1.16.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.6 kB)
Collecting grpcio<2.0,>=1.24.3 (from tensorflow)
  Downloading grpcio-1.62.1-cp312-cp312-macosx_10_10_universal2.whl.metadata (4.0 kB)
Collecting tensorboard<2.17,>=2.16 (from tensorflow)
  Using cached tensorboard-2.16.2-py3-none-any.whl.metadata (1.6 kB)
Collecting keras>=3.0.0 (from tensorflow)
  Downloading keras-3.1.1-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow) (0.43.0)
Requirement already satisfied: rich in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from keras>=3.0.0->tensorflow) (13.7.1)
Collecting namex (from keras>=3.0.0->tensorflow)
  Using cached namex-0.0.7-py3-none-any.whl.metadata (246 bytes)
Collecting optree (from keras>=3.0.0->tensorflow)
  Downloading optree-0.10.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (45 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2024.2.2)
Collecting markdown>=2.6.8 (from tensorboard<2.17,>=2.16->tensorflow)
  Downloading Markdown-3.6-py3-none-any.whl.metadata (7.0 kB)
Collecting tensorboard-data-server<0.8.0,>=0.7.0 (from tensorboard<2.17,>=2.16->tensorflow)
  Using cached tensorboard_data_server-0.7.2-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: werkzeug>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.0.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from rich->keras>=3.0.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from rich->keras>=3.0.0->tensorflow) (2.17.2)
Requirement already satisfied: mdurl~=0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow) (0.1.2)
Downloading tensorflow-2.16.1-cp312-cp312-macosx_12_0_arm64.whl (227.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.1/227.1 MB 4.6 MB/s eta 0:00:0000:0100:01
Using cached absl_py-2.1.0-py3-none-any.whl (133 kB)
Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Downloading flatbuffers-24.3.7-py2.py3-none-any.whl (26 kB)
Using cached gast-0.5.4-py3-none-any.whl (19 kB)
Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Downloading grpcio-1.62.1-cp312-cp312-macosx_10_10_universal2.whl (10.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.0/10.0 MB 2.6 MB/s eta 0:00:0000:010:01
Using cached h5py-3.10.0-cp312-cp312-macosx_11_0_arm64.whl (2.6 MB)
Downloading keras-3.1.1-py3-none-any.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 2.0 MB/s eta 0:00:0000:0100:01
Downloading libclang-18.1.1-py2.py3-none-macosx_11_0_arm64.whl (26.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.4/26.4 MB 4.3 MB/s eta 0:00:0000:0100:01
Using cached ml_dtypes-0.3.2-cp312-cp312-macosx_10_9_universal2.whl (393 kB)
Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Using cached protobuf-4.25.3-cp37-abi3-macosx_10_9_universal2.whl (394 kB)
Using cached tensorboard-2.16.2-py3-none-any.whl (5.5 MB)
Using cached termcolor-2.4.0-py3-none-any.whl (7.7 kB)
Using cached wrapt-1.16.0-cp312-cp312-macosx_11_0_arm64.whl (38 kB)
Downloading Markdown-3.6-py3-none-any.whl (105 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.4/105.4 kB 4.8 MB/s eta 0:00:00
Using cached tensorboard_data_server-0.7.2-py3-none-any.whl (2.4 kB)
Using cached namex-0.0.7-py3-none-any.whl (5.8 kB)
Downloading optree-0.10.0-cp312-cp312-macosx_11_0_arm64.whl (251 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.7/251.7 kB 5.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: namex, libclang, flatbuffers, wrapt, termcolor, tensorboard-data-server, protobuf, optree, opt-einsum, ml-dtypes, markdown, h5py, grpcio, google-pasta, gast, astunparse, absl-py, tensorboard, keras, tensorflow
  Attempting uninstall: protobuf
    Found existing installation: protobuf 5.26.0
    Uninstalling protobuf-5.26.0:
      Successfully uninstalled protobuf-5.26.0
Successfully installed absl-py-2.1.0 astunparse-1.6.3 flatbuffers-24.3.7 gast-0.5.4 google-pasta-0.2.0 grpcio-1.62.1 h5py-3.10.0 keras-3.1.1 libclang-18.1.1 markdown-3.6 ml-dtypes-0.3.2 namex-0.0.7 opt-einsum-3.3.0 optree-0.10.0 protobuf-4.25.3 tensorboard-2.16.2 tensorboard-data-server-0.7.2 tensorflow-2.16.1 termcolor-2.4.0 wrapt-1.16.0

In [157]:
import tensorflow as tf

embedding_1= model.encode(re.sub(r'[^\w\s]', '', words[words.columns[2]][0]), convert_to_tensor=True)
embedding_2 = model.encode(re.sub(r'[^\w\s]', '', words[words.columns[3]][1]), convert_to_tensor=True)
_ = util.pytorch_cos_sim(embedding_1, embedding_2)
# Convert `tensor` to a proto tensor
_ = _.cpu()
proto_tensor = tf.make_tensor_proto(_)

# Convert the tensor to a NumPy array
numpy_array = tf.make_ndarray(proto_tensor)

# Print the NumPy array
print(numpy_array[0][0])

0.77843904

In [17]:
import numpy as np
from numpy import dot
from numpy.linalg import norm
from scipy import spatial
from sentence_transformers import SentenceTransformer, util
import tensorflow as tf



person_id = []
person_name = []
assoc = []
term1 = []
term2 = []
cos = []
pers_id2 = []
pers_name2 = []

n = ['enrollee', 'graduate', 'parent','post-doc']

w = ['center', 'university', 'scientific/science', 'educational/education', 'program']

words = pd.read_csv('eng_words.csv')
print(words[words.columns[0]][0])

for i in range(2, 7):
    row = []
    for j in range(4):
        for k in range(i, 7):
            for l in range(4):
                if k!=i  or j!=l:
                    if k!=i or l>=j:
                        print(re.sub(r'[^\w\s]', '', words[words.columns[i]][j]))
                        embedding_1= model.encode(re.sub(r'[^\w\s]', '', words[words.columns[i]][j].lower()), convert_to_tensor=True)
                        embedding_2 = model.encode(re.sub(r'[^\w\s]', '', words[words.columns[k]][l].lower()), convert_to_tensor=True)
                        _ = util.pytorch_cos_sim(embedding_1, embedding_2)
                        _ = _.cpu()
                        proto_tensor = tf.make_tensor_proto(_)
                        numpy_array = tf.make_ndarray(proto_tensor)
                        person_id.append(j)
                        person_name.append(n[j])
                        assoc.append(w[i-2])
                        term1.append(w[i-2])
                        term2.append(w[k-2])
                        cos.append(numpy_array[0][0])
                        pers_id2.append(l)
                        pers_name2.append(n[l])

0
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Community Core Focus Innovation Collaboration Research Development Learning Excellence
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Innovation Research Development Technology Collaboration Community Learning Growth Creativity
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Community Focus Gathering Main Core Facility Heart Network Axis
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Hub Core Focus Nexus Heart Base Main Central Institute Facility
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Campus Academia Students Professors Research Degrees Scholarships Library Lectures Innovation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Academia Degrees Research Scholarships Campus Faculty Students Alumni Libraries Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Students Academia Degree Research Professors Lectures Scholarship Dormitory Graduation
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Campus Academic Students Research Faculty Degrees Education Collegiate Scholarly Institution
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experimentation Innovation Discovery Methodology Technology Physics Biology Chemistry Analysis
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiments Innovation Data Theories Conferences Peerreview Laboratories Breakthroughs Methodology
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Discovery Innovation Laboratory Theory Physics Biology Chemistry Data
Research Experiment Theory Discovery Data Inquiry Analysis Laboratory Physics Chemistry
Research Experiment Theory Discovery Data Inquiry Analysis Laboratory Physics Chemistry
Research Experiment Theory Discovery Data Inquiry Analysis Laboratory Physics Chemistry
Research Experiment Theory Discovery Data Inquiry Analysis Laboratory Physics Chemistry
Research Experiment Theory Discovery Data Inquiry Analysis Laboratory Physics Chemistry
Research Experiment Theory Discovery Data Inquiry Analysis Laboratory Physics Chemistry
Research Experiment Theory Discovery Data Inquiry Analysis Laboratory Physics Chemistry
Research Experiment Theory Discovery Data Inquiry Analysis Laboratory Physics Chemistry
Learning Knowledge Schools Teaching Curriculum Development Literacy Scholarships Pedagogy Degrees
Learning Knowledge Schools Teaching Curriculum Development Literacy Scholarships Pedagogy Degrees
Learning Knowledge Schools Teaching Curriculum Development Literacy Scholarships Pedagogy Degrees
Learning Knowledge Schools Teaching Curriculum Development Literacy Scholarships Pedagogy Degrees
Learning Knowledge Schools Teaching Curriculum Development Literacy Scholarships Pedagogy Degrees
Learning Knowledge Schools Teaching Curriculum Development Literacy Scholarships Pedagogy Degrees
Learning Knowledge Schools Teaching Curriculum Development Literacy Scholarships Pedagogy Degrees
Learning Online Curriculum Pedagogy Diplomas Skills Development Teaching Resources Enrichment
Learning Online Curriculum Pedagogy Diplomas Skills Development Teaching Resources Enrichment
Learning Online Curriculum Pedagogy Diplomas Skills Development Teaching Resources Enrichment
Learning Online Curriculum Pedagogy Diplomas Skills Development Teaching Resources Enrichment
Learning Online Curriculum Pedagogy Diplomas Skills Development Teaching Resources Enrichment
Learning Online Curriculum Pedagogy Diplomas Skills Development Teaching Resources Enrichment
Learning School Knowledge Skills Curriculum Teacher Classroom Diploma Training Development
Learning School Knowledge Skills Curriculum Teacher Classroom Diploma Training Development
Learning School Knowledge Skills Curriculum Teacher Classroom Diploma Training Development
Learning School Knowledge Skills Curriculum Teacher Classroom Diploma Training Development
Learning School Knowledge Skills Curriculum Teacher Classroom Diploma Training Development
Learning Schooling Teaching Curriculum Pedagogy Instruction Development Knowledge Scholarly Training
Learning Schooling Teaching Curriculum Pedagogy Instruction Development Knowledge Scholarly Training
Learning Schooling Teaching Curriculum Pedagogy Instruction Development Knowledge Scholarly Training
Learning Schooling Teaching Curriculum Pedagogy Instruction Development Knowledge Scholarly Training
Code Software Curriculum Project Application Development Training Implementation Algorithm System
Code Software Curriculum Project Application Development Training Implementation Algorithm System
Code Software Curriculum Project Application Development Training Implementation Algorithm System
Software Code Algorithm Development Application Training Curriculum Project Implementation Automation
Software Code Algorithm Development Application Training Curriculum Project Implementation Automation
Software Application Course Plan Project Schedule Curriculum System Protocol Initiative

In [18]:
pers_age1 = []
pers_gen1 = []
pers_age2 = []
pers_gen2 = []
edu = []
edu2 = []

for i in range(len(person_id)):
    if person_id[i] == 0:
        pers_age1.append(18)
        pers_gen1.append('female')
        edu.append(1)
    if person_id[i] == 1:
        pers_age1.append(25)
        pers_gen1.append('male')
        edu.append(2)
    if person_id[i] == 2:
        pers_age1.append(40)
        pers_gen1.append('female')
        edu.append(2)
    if person_id[i] == 3:
        pers_age1.append(34)
        pers_gen1.append('male')
        edu.append(3)
    if pers_id2[i] == 0:
        pers_age2.append(18)
        pers_gen2.append('female')
        edu2.append(1)
    if pers_id2[i] == 1:
        pers_age2.append(25)
        pers_gen2.append('male')
        edu2.append(2)
    if pers_id2[i] == 2:
        pers_age2.append(40)
        pers_gen2.append('female')
        edu2.append(2)
    if pers_id2[i] == 3:
        pers_age2.append(34)
        pers_gen2.append('male')
        edu2.append(3)

In [19]:
df = pd.DataFrame()
df['Person_ID'] = person_id
df['Person_name'] = person_name
df['Person_age'] = pers_age1
df['Person_gender'] = pers_gen1
df['Person_ducation_level_ID'] = edu
df['Assoc_stimulus'] = assoc
df['Term1'] = term1
df['Term2'] = term2
df['cos'] = cos
df['Person_term_ID'] = pers_id2
df['Person_term_name'] = pers_name2
df['Person_term_age'] = pers_age2
df['Person_term_gender'] = pers_gen2
df['Person_term_ducation_level_ID'] = edu2

In [20]:
df

,Person_ID,Person_name,Person_age,Person_gender,Person_ducation_level_ID,Assoc_stimulus,Term1,Term2,cos,Person_term_ID,Person_term_name,Person_term_age,Person_term_gender,Person_term_ducation_level_ID
0,0,enrollee,18,female,1,center,center,center,0.874380,1,graduate,25,male,2
1,0,enrollee,18,female,1,center,center,center,0.589746,2,parent,40,female,2
2,0,enrollee,18,female,1,center,center,center,0.488339,3,post-doc,34,male,3
3,0,enrollee,18,female,1,center,center,university,0.419514,0,enrollee,18,female,1
4,0,enrollee,18,female,1,center,center,university,0.291462,1,graduate,25,male,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,0,enrollee,18,female,1,program,program,program,0.738134,2,parent,40,female,2
186,0,enrollee,18,female,1,program,program,program,0.768682,3,post-doc,34,male,3
187,1,graduate,25,male,2,program,program,program,0.696992,2,parent,40,female,2
188,1,graduate,25,male,2,program,program,program,0.703598,3,post-doc,34,male,3
189,2,parent,40,female,2,program,program,program,0.843331,3,post-doc,34,male,3

In [21]:
df.to_csv('compare10.csv')